//Colors
$Background: #040404;
$Music:#3f3f3f;
$Games:#e46a6b;
$Movies:#6e6e6e;


//Sizes
$ButtonSize: 90px;


.symbol{
	text-align: center;
	color: white;
	margin-top: 25px;
	

}
.homebutton{
background: $Background;
height: $ButtonSize;
width:$ButtonSize; 
border-radius: $ButtonSize/2;
text-align: center;
line-height: $ButtonSize;
color: white;
position: absolute;
cursor: pointer;
margin-left: 25px;
margin-top: 5px;

 i{
 	line-height: inherit;

 }

}
.reviewsrow{
	margin-top: 20px;
	color:white;
	.review{
	border: 3px solid $Background;

.title{
	text-align: center;
}
.sorting{
	text-align: center;
}

img{height: 100%;
width:100%;}
}
.rating{
	text-align: center;
}
.critic{
	height: 118px;
}
}
.ratingsgeneral{
	color: white;
	text-align: center;
	font-size: 20px;
}
.rating1{
	color:white;
	}
.rating2{
	color:#3F7F3F;
}
.rating3{
	color: #3232FF;
}
.rating4{
	color:#A64CA6;
}
.rating5{
	color:#FFA500;
}


.dropdownrow{
	text-align: center;
	margin-top: 60px;
	ul{text-align: center;
		left:20%;}
}