@import "basics";


body{background: $Background;}
h1{text-align: center;
	color:white;
margin-top: 100px;}
.start{

height: $ButtonSize;
width:$ButtonSize; 
top: 50%;
left: 50%;
margin-left: -($ButtonSize/2);
margin-top: -($ButtonSize/2);
position: absolute;
border-radius: $ButtonSize/2;
text-align: center;
line-height: $ButtonSize;
color: white;
cursor: pointer;

 i{
 	line-height: inherit;

 }

}
.music{
	background: $Music;
	left: 50%;
}
.games{
	background: $Games;
 left: 75%;
}
.movies{
	background: $Movies;
	left: 25%;
}
