@import "basics";


body{background: $Background;}
h1{text-align: center;
	color:white;
margin-top: 100px;}
.start{

height: $ButtonSize;
width:$ButtonSize; 
@media screen and (min-width: 768px){
top: 500px;}
margin-left: -($ButtonSize/2);
margin-top: -($ButtonSize/2);
position: absolute;
border-radius: $ButtonSize/2;
text-align: center;
line-height: $ButtonSize;
color: white;
cursor: pointer;

 i{
 	line-height: inherit;

 }

}
.music{
	background: $Music;
	@media screen and (max-width: 768px){top:400px;}
	left: 50%;
}
.games{
	background: $Games;
	@media screen and (max-width: 768px){top:500px;}
 left: 75%;
}
.movies{
	background: $Movies;
	@media screen and (max-width: 768px){top:300px;}
	left: 25%;
}
