/* line 12, ../../sass/sass/_basics.scss */
.symbol {
  text-align: center;
  color: white;
  margin-top: 25px;
}

/* line 19, ../../sass/sass/_basics.scss */
.homebutton {
  background: #040404;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  text-align: center;
  line-height: 90px;
  color: white;
  position: absolute;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 5px;
}
/* line 32, ../../sass/sass/_basics.scss */
.homebutton i {
  line-height: inherit;
}

/* line 2, ../../sass/sass/moviepage.scss */
body {
  background: #6e6e6e;
}
