/* line 12, ../../sass/sass/_basics.scss */
.symbol {
  text-align: center;
  color: white;
  margin-top: 25px;
}

/* line 19, ../../sass/sass/_basics.scss */
.homebutton {
  background: #040404;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  text-align: center;
  line-height: 90px;
  color: white;
  position: absolute;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 5px;
}
/* line 32, ../../sass/sass/_basics.scss */
.homebutton i {
  line-height: inherit;
}

/* line 38, ../../sass/sass/_basics.scss */
.ratingsgeneral {
  margin-top: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
}

/* line 44, ../../sass/sass/_basics.scss */
.rating1 {
  color: #3f3f3f;
}

/* line 47, ../../sass/sass/_basics.scss */
.rating2 {
  color: #3F7F3F;
}

/* line 50, ../../sass/sass/_basics.scss */
.rating3 {
  color: #3232FF;
}

/* line 53, ../../sass/sass/_basics.scss */
.rating4 {
  color: #A64CA6;
}

/* line 56, ../../sass/sass/_basics.scss */
.rating5 {
  color: #FFA500;
}

/* line 2, ../../sass/sass/musicpage.scss */
body {
  background: #3f3f3f;
}
