/* line 12, ../../sass/sass/_basics.scss */
.symbol {
  text-align: center;
  color: white;
  margin-top: 25px;
}

/* line 19, ../../sass/sass/_basics.scss */
.homebutton {
  background: #040404;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  text-align: center;
  line-height: 90px;
  color: white;
  position: absolute;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 5px;
}
/* line 32, ../../sass/sass/_basics.scss */
.homebutton i {
  line-height: inherit;
}

/* line 38, ../../sass/sass/_basics.scss */
.ratingsgeneral {
  color: white;
  text-align: center;
  font-size: 20px;
}

/* line 43, ../../sass/sass/_basics.scss */
.rating1 {
  color: #3f3f3f;
}

/* line 46, ../../sass/sass/_basics.scss */
.rating2 {
  color: #3F7F3F;
}

/* line 49, ../../sass/sass/_basics.scss */
.rating3 {
  color: #3232FF;
}

/* line 52, ../../sass/sass/_basics.scss */
.rating4 {
  color: #A64CA6;
}

/* line 55, ../../sass/sass/_basics.scss */
.rating5 {
  color: #FFA500;
}

/* line 67, ../../sass/sass/_basics.scss */
.dropdownrow {
  text-align: center;
  margin-top: 60px;
}
/* line 70, ../../sass/sass/_basics.scss */
.dropdownrow ul {
  text-align: center;
  left: 20%;
}

/* line 4, ../../sass/sass/style.scss */
body {
  background: #040404;
}

/* line 5, ../../sass/sass/style.scss */
h2 {
  text-align: center;
  color: white;
  margin-top: 100px;
}

/* line 8, ../../sass/sass/style.scss */
.start {
  height: 90px;
  width: 90px;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  border-radius: 45px;
  text-align: center;
  line-height: 90px;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  /* line 8, ../../sass/sass/style.scss */
  .start {
    top: 500px;
  }
}
/* line 23, ../../sass/sass/style.scss */
.start i {
  line-height: inherit;
}

/* line 29, ../../sass/sass/style.scss */
.music {
  background: #3f3f3f;
  left: 50%;
}
@media screen and (max-width: 768px) {
  /* line 29, ../../sass/sass/style.scss */
  .music {
    top: 400px;
  }
}

/* line 34, ../../sass/sass/style.scss */
.games {
  background: #e46a6b;
  left: 75%;
}
@media screen and (max-width: 768px) {
  /* line 34, ../../sass/sass/style.scss */
  .games {
    top: 500px;
  }
}

/* line 39, ../../sass/sass/style.scss */
.movies {
  background: #6e6e6e;
  left: 25%;
}
@media screen and (max-width: 768px) {
  /* line 39, ../../sass/sass/style.scss */
  .movies {
    top: 300px;
  }
}
